<div>
    <p><%= image_tag @book.user.get_profile_image(100, 100) %></p>
    <p><%= @book.user.name %></p>
    <p><%= @book.title %></p>
    <p><%= @book.body %></p>
    

    <% if @book.user == current_user %>
      <p><%= link_to "Edit",edit_book_path(@book.id) %></p>
      <p><%= link_to "Destroy",book_path(@book.id), method: :delete, "deta-confirm" => "本当に消しますか" %></p>
    <% end %>
    
</div>